@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');

$title-font: 'Handlee', cursive;
$standard-font: 'Klee One', cursive;

//border bolor:
$dark-brown: #260B01;
// box-colors:
$medium-brown: #733410; 
$light-brown: #A67244;
$medium-orange: #D99748;
// inner color:
$light-orange: #F2BC57;
// generic colors:
$white: #fff;
$black: #000;