@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

$title-font: 'Handlee', cursive;
$weekdays-font: 'Klee One', cursive;
$standard-font: 'Shantell Sans', cursive;

//border bolor:
$dark-brown: #260B01;
// box-colors:
$medium-brown: #733410; 
$light-brown: #A67244;
$medium-orange: #D99748;
// inner color:
$light-orange: #F2BC57;
// generic colors:
$white: #fff;
$black: #000;