* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $standard-font;
    color: $black;
}

#planner {
    max-width: 960px;
    margin: auto;
    padding: 2.8rem;
    background-color: $light-orange;
    border: 24px solid $dark-brown;
}

img.icon {
    position: relative;
    z-index: 2;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    h1 {
        flex-shrink: 2;
        font-family: $title-font;
        font-size: 3rem;
        letter-spacing: .5rem;
        font-style: italic;
    }

    img#mugHeartIcon {
        width: 100px;
        right: 126px;
        bottom: 50px;
        transform: rotate(15deg);
    }

    aside {
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        margin: 1rem 0;

        div {
            min-width: 15rem;
            display: flex;
            align-items: baseline;
            border-bottom: 2px solid $dark-brown;
            padding-bottom: .8rem;

            p.date {
                font-size: 1.4rem;
            }

            p {
                min-width: 100px;
            }
        }
    }
}

section#notes-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    #sunday,
    #thursday,
    #notes {
        background-color: $light-brown;

        ul, p {
            color: $white;
        }
    }

    #monday,
    #friday,
    #saturday {
        background-color: $medium-brown;
        
        ul {
            color: $white;
        }
    }

    #tuesday,
    #wednesday {
        background-color: $medium-orange;
    }
}

div.notes-block {
    flex-basis: 30%;
    padding: 1rem;
    border-radius: 50px;
    break-after: auto;

    // min-width: 100px;
    min-height: 300px;
    max-height: fit-content;

    h2 {
        margin: auto;
        margin-bottom: 1rem;
        font-weight: 600;
        background-color: $white;
        font-family: $weekdays-font;
        text-align: center;
        font-size: 1.2rem;
        letter-spacing: .15rem;
        width: fit-content;
        padding: .5rem;
        border-radius: 24px;
    }

    ul {
        display: block;
        width: 100%;
        max-width: 220px;
        min-height: 45%;
        max-height: fit-content;
        caret-color: $white;
        margin-right: 1rem;
        word-wrap: break-word;
        line-break: auto;
        position: relative;
        z-index: 3;
        // border: 1px solid white;

        li {
            list-style: '';
            width: 100%;
            height: 10%;
            line-break: auto;
            word-wrap: break-word;
            margin-bottom: .75rem;

            &:before {
                background-image: url('../../img/coffee-bean.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                content: '';
                display: inline-block;
                height: 1rem;
                width: 1.2rem;
            }
        }
    }

    img#coffeeCupIcon {
        position: static;
        width: 60px;
        top: 4%;
    }

    img#coffeeTravelIcon {
        width: 90px;
        left: 85%;
        top: -25%;
    }

    img#coffeeBrewIcon {
        width: 90px;
        transform: rotateY(180deg);
        right: 35%;
        top: -35%;
        z-index: 0;
    }
}

div#notes {
    grid-column: span 2;

    h2 {
        margin-left: 1.4rem;
    }

    p {
        width: 100%;
        height: 70%;
        caret-color: $white;
    }

    img#coffeeBeansIcon {
        width: 200px;
        left: 74%;
        top: -20%;
        z-index: 2;
    }
}

button#btn {
    display: block;
    margin: 5rem auto;
    background-color: #447B4C;
    color: $white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.2rem;
    cursor: pointer;
    border-radius: 16px;
    border: 1px solid transparent;
}

@media screen and (max-width: 855px) {
    section#notes-section {
        grid-template-columns: repeat(2, 1fr);
    }

    img#coffeeCupIcon {
        width: 50px !important;
    }

    img#coffeeTravelIcon {
        width: 70px !important;
        top: -45% !important;
    }

    img#coffeeBrewIcon {
        max-width: 70px !important;
        left: -25%;
        top: -35%;
    }

    img#coffeeBeansIcon {
        max-width: 150px;
        left: 74%;
        top: -20%;
        z-index: 2;
    }
}

@media screen and (max-width: 917px) {
    img#mugHeartIcon {
        width: 90px;
        right: 0;
        left: -20px;
        bottom: 50px;
    }
}

@media screen and (max-width: 650px) {
    section#notes-section {
        grid-template-columns: 1fr;
    }

    div#notes {
        grid-column: span 1;
    }
}

@media screen and (max-width: 446px) {
    html {
        font-size: 8px;
    }

    header {
        align-items: center;
        justify-content: center;

        img#mugHeartIcon {
            width: 70px;
            top: -12px;
            left: 12px;
        }
    }

    img#coffeeBeansIcon {
        max-width: 80px;
    }
}

@media screen and (max-width: 426px) {}

@media print {
    * {
        -webkit-print-color-adjust: exact !important;
        /* Chrome, Safari 6 – 15.3, Edge */
        // color-adjust: exact !important;
        /* Firefox 48 – 96 */
        print-color-adjust: exact !important;
        /* Firefox 97+, Safari 15.4+ */
        overflow: visible;
    }

    body {
        width: 1200px;
    }
    main {
        margin: auto;
        width: 100%;
        height: 100%;
    }

    img#mugHeartIcon {
        width: 70px;
        top: -12px;
        left: -4px;
    }

    button#btn {
        display: none;
    }

    @page {
        size: A4;
        margin: 0;
        width: 100%;
        height: 100%;
        break-after: always;
    }
}