@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Klee One", cursive;
  color: #000;
}

#planner {
  max-width: 960px;
  margin: auto;
  padding: 2.8rem;
  background-color: #F2BC57;
  border: 24px solid #260B01;
}

img.icon {
  position: relative;
  z-index: 2;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
header h1 {
  flex-shrink: 2;
  font-family: "Handlee", cursive;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-style: italic;
}
header img#mugHeartIcon {
  width: 100px;
  right: 126px;
  bottom: 50px;
  transform: rotate(15deg);
}
header aside {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin: 1rem 0;
}
header aside div {
  min-width: 15rem;
  display: flex;
  align-items: baseline;
  border-bottom: 2px solid #260B01;
  padding-bottom: 0.8rem;
}
header aside div p.date {
  font-size: 1.4rem;
}
header aside div p {
  min-width: 100px;
}

section#notes-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
section#notes-section #sunday,
section#notes-section #thursday,
section#notes-section #notes {
  background-color: #A67244;
}
section#notes-section #monday,
section#notes-section #friday,
section#notes-section #saturday {
  background-color: #733410;
}
section#notes-section #tuesday,
section#notes-section #wednesday {
  background-color: #D99748;
}

div.notes-block {
  flex-basis: 30%;
  padding: 1rem;
  border-radius: 50px;
  min-height: 300px;
  max-height: fit-content;
}
div.notes-block h2 {
  margin: auto;
  margin-bottom: 1rem;
  font-weight: 600;
  background-color: #fff;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 24px;
}
div.notes-block ul {
  display: block;
  width: 100%;
  max-width: 220px;
  min-height: 45%;
  max-height: fit-content;
  caret-color: #fff;
  margin-right: 1rem;
  word-wrap: break-word;
  line-break: auto;
  position: relative;
  z-index: 0;
}
div.notes-block ul li {
  list-style: "";
  width: 100%;
  height: 10%;
  line-break: auto;
  word-wrap: break-word;
}
div.notes-block ul li:before {
  background-image: url("../../img/coffee-bean.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1.2rem;
}
div.notes-block img#coffeeCupIcon {
  position: static;
  width: 60px;
  top: 4%;
}
div.notes-block img#coffeeTravelIcon {
  width: 90px;
  left: 85%;
  top: -25%;
}
div.notes-block img#coffeeBrewIcon {
  width: 90px;
  transform: rotateY(180deg);
  right: 35%;
  top: -35%;
  z-index: 0;
}

div#notes {
  grid-column: span 2;
}
div#notes h2 {
  margin-left: 1.4rem;
}
div#notes p {
  width: 100%;
  height: 70%;
  caret-color: #fff;
}
div#notes img#coffeeBeansIcon {
  width: 200px;
  left: 74%;
  top: -20%;
  z-index: 2;
}

button#btn {
  display: block;
  margin: 5rem auto;
  background-color: #447B4C;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 16px;
  border: 1px solid transparent;
}

@media screen and (max-width: 855px) {
  section#notes-section {
    grid-template-columns: repeat(2, 1fr);
  }
  img#coffeeCupIcon {
    width: 50px !important;
  }
  img#coffeeTravelIcon {
    width: 70px !important;
    top: -45% !important;
  }
  img#coffeeBrewIcon {
    max-width: 70px !important;
    left: -25%;
    top: -35%;
  }
  img#coffeeBeansIcon {
    width: 150px;
    left: 74%;
    top: -20%;
    z-index: 2;
  }
}
@media screen and (max-width: 650px) {
  section#notes-section {
    grid-template-columns: 1fr;
  }
  div#notes {
    grid-column: span 1;
  }
}
@media print {
  * {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important; /* Firefox 48 – 96 */
    print-color-adjust: exact !important; /* Firefox 97+, Safari 15.4+ */
  }
  main {
    margin: auto;
    height: 100%;
  }
  button#btn {
    display: none;
  }
  @page {
    size: auto;
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
